.hire-section {
    background: linear-gradient(#000000c9, #000000c7), url(../../images/hire-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    color: #fff;
}

.work-section {
    padding: 100px 0 0px 0;
}

.book-pic {
    border-radius: 12px;
}

.resume-row {
    background: #0b0b13;
    padding: 35px;
    border-radius: 15px;
}

.resume-row .rb-left {
    border-right: 1px solid hsla(0,0%,100%,.05);
}

.resume-row h6 {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.rb-time {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    background: #ff9301;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
}