.hire-section {
    background: linear-gradient(#000000c9, #000000c7), url(../../images/hire-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;
    color: #fff;
}

.work-section {
    padding: 100px 0 0 0;
}